<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Page</title>
    <!-- Importa o arquivo CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="rec827222634">
        <div class="t396__artboard">
            <div class="t396__filter"></div>
            <div class="t396__carrier"></div>
        </div>
        <div class="tn-elem" data-elem-id="1731869467546">
            <div class="tn-atom"></div>
        </div>
        <div class="tn-elem" data-elem-id="1731869545982">
            <div class="tn-atom" style="background-color: #a7dbff;"></div>
        </div>
        <div class="tn-elem" data-elem-id="1731869640083">
            <div class="tn-atom" style="font-size: 25px; font-family: 'Roboto', Arial, sans-serif; font-weight: 700;">Texto de Exemplo</div>
        </div>
        <div class="tn-elem" data-elem-id="1731869742934">
            <div class="tn-atom" style="font-size: 14px; text-align: center; background-color: #1f8bdb;">Botão 1</div>
        </div>
        <div class="tn-elem" data-elem-id="1731869873313">
            <div class="tn-atom" style="font-size: 14px; text-align: center; background-color: #1f8bdb;">Botão 2</div>
        </div>
        <div class="tn-elem" data-elem-id="1731869889592">
            <div class="tn-atom" style="font-size: 14px; text-align: center; background-color: #1f8bdb;">Botão 3</div>
        </div>
    </div>
</body>
</html>
